#resume{
    display:grid;
    width:800px;
    height:1300px;
    border: 5px solid wheat;
    background-color: yellow;
    margin:auto;
}

#information{
    text-align: center;
}

td,th{
    border: 1px solid black;
    text-align: center;
    padding:8px;
}

table{
    margin:auto;
}

.workPlaceInfo{
    display: flex;
    justify-content: space-between;
}


/* In this case .body "won" because class selector has a bigger priority than element(100 > 10) */
.body{
    background-color: black;
}

body{
    background-color: lime;
}
