#resume{
    display:grid;
    width:800px;
    height:1300px;
    border: 5px solid wheat;
    background-color: yellow;
    margin:auto;
}

#information{
    text-align: center;
}

#name{
    background-color: greenyellow;
    padding: 10px;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navBar{
    background-color: white;
    display: flex;
    height:auto;
    justify-content: space-between;
}

td,th{
    border: 1px solid black;
    text-align: center;
    padding:8px;
}

table{
    margin:auto;
}

.workPlaceInfo{
    display: flex;
    justify-content: space-between;
}

.topBarItems{
    padding: 20px;
    font-size: 20px;
    transition: transform .5s 0s ease;
}

.topBarItems:hover{
    transform:scale(1.25);
}

.body{
    background-color: black;
}

h3{
    text-decoration: underline;
}

@media(min-width:780px){
    #navBar{
        flex-direction: row;
    }
    body{
        font-size:100%;
    }
}

@media(max-width:768px){
    #navBar{
        flex-direction: column;
    }
    body{
        font-size: 125%;
    }
}